@charset "UTF-8";

*{
    margin:  0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

body{
    background: url(../imagens/fundo-madeira.jpg) top center;
    background-size: cover;
}

main{
    position: relative;
    height: 100vh;
    width:  100vw;
}

section#celular{
    position: absolute;
    top:   50%;
    left:  50%;
    transform: translate(-50%, -50%);
    background: blue url(../imagens/frame-iphone.png) no-repeat;
    height: 627px;
    width: 311px;

}