@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #FFE9DE, #FAD3C0);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a1897c98;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #6FABA6;
    text-align: center;
    text-shadow: 1px 1px 2px #3c5e5aa2;
}

h2 {
    color: #c49983;;
}

p {
    text-align: justify;
} 